@import "tailwindcss";

.custom-container {
    width: 1200px;
    margin: auto;
}


.gold-button {
    background-color: #e7b20d;
    border-radius: 8px;
    padding: 10px 20px;
}

.gold-border {
    border-radius: 8px;
    border: 1px solid;
    border-color: #e7b20d;
    padding: 10px 20px;
}

.gold-text {
    color: #e7b20d;
}

#header {
    position: sticky;
    top: 0;
    background-color: #0d0700
}

.header--scrolled {
    background: rgba(13, 7, 0, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-md);
}

.our-talents-hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;

    background-image: radial-gradient(
        circle at right top,
        rgba(231,178,13,0.15),
        transparent 70%
    );
}



.scrollable-container-Y {
    overflow-y: scroll;

    /* Optional: smooth scrolling */
    scroll-behavior: smooth;
}

/* Webkit browsers (Chrome, Safari, Edge) */
.scrollable-container-Y::-webkit-scrollbar {
    width: 4px; /* width of the scrollbar */
}

.scrollable-container-Y::-webkit-scrollbar-track {
    background: #3a352d; /* track color */
    border-radius: 5px;
}

.scrollable-container-Y::-webkit-scrollbar-thumb {
    background-color: #4caf50; /* thumb color */
    border-radius: 5px;
    border: 1px solid #3a352d; /* gives some padding effect */
}

.scrollable-container-Y::-webkit-scrollbar-thumb:hover {
    background-color: #45a049; /* hover effect */
}

/* For Firefox */
.scrollable-container-Y {
    scrollbar-width: thin;
    scrollbar-color: #4caf50 #f0f0f0;
}
