@import "tailwindcss";

.custom-container {
    width: 1200px;
    margin: auto;
}


.gold-button {
    background-color: #e7b20d;
    border-radius: 8px;
    padding: 10px 20px;
}

.gold-border {
    border-radius: 8px;
    border: 1px solid;
    border-color: #e7b20d;
    padding: 10px 20px;
}

.gold-text {
    color: #e7b20d;
}

#header {
    position: sticky;
    top: 0;
    background-color: #0d0700
}

.header--scrolled {
    background: rgba(13, 7, 0, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-md);
}

.our-talents-hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;

    background-image: radial-gradient(
        circle at right top,
        rgba(231,178,13,0.15),
        transparent 70%
    );
}



scrollable-container-X {
    position: relative;
    width: 100%;
    height: 100px; /* height of the visible area */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;

    /* hide native scrollbar */
    scrollbar-width: none; /* Firefox */
}
.scrollable-container-X::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

/* Content inside */
.scrollable-container-X .item {
    display: inline-block;
    width: 150px;
    height: 100%;
    margin-right: 10px;
    background: #4caf50;
    border-radius: 5px;
}

/* Custom scrollbar */
.scrollbar-track {
    position: absolute;
    bottom: 2px; /* position of scrollbar */
    left: 0;
    right: 0;
    height: 3px; /* ultra-thin height */
    background: #f0f0f0;
    border-radius: 2px;
}

.scrollbar-thumb {
    height: 100%;
    background: #4caf50;
    border-radius: 2px;
    width: 50px; /* initial width, will adjust with JS */
    position: absolute;
    left: 0;
}

/* Optional hover effect */
.scrollbar-thumb:hover {
    background: #45a049;
}
